[2016-08-21 05:09] bryceml opened #2 "Doesn't work in owncloud 9.1.0"
It doesn't seem to work in owncloud 9.1.0.  Are you still maintaining this app?  This would be really useful for me.

[2016-10-14 13:21] westberliner commented on #2
Sry, for the late answer. I'll can look into if you didn't find any alternativ.

[2016-10-15 18:29] bryceml commented on #2
I haven't found an alternative, so that would be great.

[2016-10-15 18:32] westberliner commented on #2
alright then :) i'll look into and try to fix it.

[2016-10-22 13:33] westberliner commented on #2
The app is good to go for owncloud version 9. I changed the ui a little bit. I moved the feature into the detail view. Keep me updated if it es working ... or not :)

commit 58080ba7aa61111161ad4c08d1b5b8b5015d2a3e

[2016-10-22 13:33] #2 closed

[2016-10-22 18:13] bryceml commented on #2
It works, thanks.

[2016-10-29 06:45] deluxghost opened #3 "fileInfo is null"
when i enter the root directory, the var fileInfo sometimes is null

location is checksum.tabview.js:53

i use a dirty hotfix for myself now:

`data = {source: fileInfo != null ? fileInfo.getFullPath() : "/"},`

[2017-01-11 10:30] #3 closed

[2017-02-06 19:30] MariusBluem opened #5 "App Store: Installation does not work"
Nextcloud App Store installation process does not work:

`Extracted app checksum has more than 1 folder`

@westberliner

[2017-02-06 20:07] westberliner commented on #5
reuploaded. this time without mac meta files.

[2017-02-06 20:07] #5 closed

[2017-02-27 16:31] e-alfred opened #6 "Owncloud update downloads a wrong checksum app with higher version number"
Hello,

if Owncloud gets updated, it automatically checks for new apps in the store and updates to a different app with a higher version number from here:

https://apps.owncloud.com/content/show.php/Checksum+MD5?content=174662

To solve this, maybe a higher version number would be needed.

Thank you

[2017-03-01 11:23] DJCrashdummy opened #7 "Nextcloud-installation and App-Update fails"
the nextcloud-installation _(In your Instance, simply navigate to »Apps«, choose the category »Files«, find the Checksum app and enable it.)_ does not work:

and after a manual installation (of the latest release) it shows immediately an update, but it can't be applied. the only way to have everything as it should be, is to install the master manually.

**and by the way:** there are only releases

[2017-03-07 11:43] Dracon23 commented on #7
Can confirm this.

Error is the same, Nextcloud 11.0.2

[2017-03-07 14:16] EpicLPer commented on #7
Error 404 on the install URL given

[2017-03-07 14:56] MariusBluem commented on #7
I can reproduce `Client error response [url] https://herzberg-digital.de/checksum.tar.gz [status code] 404 [reason phrase] Not Found`

[2017-03-07 15:02] DJCrashdummy commented on #7
as you can see at the app-store (https://apps.nextcloud.com/apps/checksum) the links for checksum 0.3.1 for every nexcloud version are offline.

with nextcloud 10 and older it can be downloaded because the owncloud app-store is used and it gathers the archive direct from the github-master, but then it can't be installed because of the known "github-master-problem"...

[2017-03-07 21:02] rugk opened #8 "Which hashes are possible?"
Could you expand the README/description with a list of hashes this add-on supports?

[2017-03-13 19:05] rugk opened #9 "Installation fails, 404 error"
The installation of this add-on fails as https://herzberg-digital.de/checksum.tar.gz returns a 404 error.

[2017-03-15 02:12] DevSidious commented on #9
I can confirm this.

Client error response [url] https://herzberg-digital.de/checksum.tar.gz [status code] 404 [reason phrase] Not Found

Nextcloud 11.0.2 stable (11.0.2.7)

[2017-03-24 10:01] DJCrashdummy commented on #9
this was already mentioned: https://github.com/westberliner/owncloud-checksum/issues/7

[2017-03-24 10:03] DJCrashdummy commented on #7
it seems that https://herzberg-digital.de/checksum.tar.gz is online again...!

[2017-03-24 10:04] #7 closed

[2017-03-24 17:45] rugk commented on #9
Online again, nice. But I hope @westberliner, you do not use MD5 anymore as mentioned by @DJCrashdummy in https://github.com/westberliner/owncloud-checksum/issues/7#issue-211052850. That would be really ironic for a checksum package… :laughing:
So use SHA-256 at least.

[2017-03-24 17:46] #9 closed

[2017-03-24 17:54] DJCrashdummy commented on #9
@rugk: no deal... i've read it and it was a nice laugh before the question marks rose in my head. ;-)

[2017-03-24 18:19] DJCrashdummy commented on #8
as you can see in the code (https://github.com/westberliner/owncloud-checksum/blob/master/js/checksum.tabview.js#L35-L39) for now it is possible to choose between `crc32`, `md5`, `sha1`, `sha256` and `sha512`.

but you are right a little bit more in the info.xml-description and maybe additional in the readme would not hurt.

[2017-03-24 20:17] westberliner commented on #9
Hi and sry,

I had issues with my Server a while back. I will update my github mailsettings. I saw this issue after you mentioned my name.

[2017-03-24 20:19] westberliner commented on #6
I will look into that. Thx for mentioning.

[2017-03-24 20:24] DJCrashdummy commented on #9
@westberliner: why not direct use a github-release for the nextcloud-store?

[2017-03-24 20:51] westberliner commented on #9
Good idea, i will change it together with a better description (#8).

[2017-03-26 18:23] westberliner commented on #8
I updated the readme.

[2017-03-26 18:23] #8 closed

[2017-03-26 18:29] rugk opened #10 "Support SHA-3"
Integrating [SHA-3](https://en.wikipedia.org/wiki/SHA-3) support would be nice.

[2017-03-26 18:29] westberliner commented on #6
I updated the version number along with the current owncloud version in apps.owncloud.com. I hope this helps. If not, just reopen this issue.

[2017-03-26 18:29] #6 closed

[2017-03-26 18:46] westberliner commented on #10
Done :) and pushed to apps.[nextcloud|owncloud].com or downloud it directly.

[2017-03-26 18:46] #10 closed

[2017-03-26 19:27] rugk commented on #10
WOW, that was fast… 💪

[2017-03-26 19:30] rugk commented on #10
[But…](https://github.com/westberliner/owncloud-checksum/commit/eeae274621553d55e08221f86bd3d91930fe7b60) ah you've added sSHA-384 support. Not bad, but not what this issue was about. It was really too fast to solve…
SHA-3 is a whole new algorithm, similarly to what SHA-2 (i.e. SHA-256, SHA-512, …) is. See the Wikipedia article I've linked.

[2017-03-27 05:45] DJCrashdummy commented on #8
@westberliner: thank you very much for your update!

btw: the icing on the cake would be a link in the /appinfo/info.xml to the readme, maybe like...
[code]

[2017-03-27 18:21] westberliner commented on #10
You got lucky cause I fixed some minor issues on checksum right in that moment :) To bad that this is the wrong crypto.

PHP cannot create sha3 out of the box - at least till 7.0.x.

I found this extension https://github.com/strawbrary/php-sha3
or this library https://github.com/0xbb/php-sha3. But I am not a crypto guy so i cannot evaluate if these libraries are good implementations of sha3.

I ca

[2017-03-27 18:57] westberliner commented on #10
Of course they implemented in PHP 7.1 XD

I had this idea too. To get the algo-list via ajax. But the list is quiet long. So i would want to create a admin settings page for the admin to preselect. In the next version then.

[2017-03-27 18:59] westberliner commented on #8
Icing is done :) I am not proud of the output on apps.nextcloud.com but at least it shows something.

[2017-03-27 19:17] rugk commented on #10
You don't have to get all algos, only the supported ones (and ones used in your project), but I think I get your idea. You could of course make all algos available to the admin.

[2017-03-27 22:17] DJCrashdummy commented on #8
awesome! now the very good description is also displayed within nextcloud.
yes... at the webpage it looks not really polished (i don't know why), but it is better than nothing. ;-)

[2017-05-30 21:04] tedstrauss opened #11 "Installation from app store fails, on OC 9.1.5"
I get this error message when trying to install using the app store:

`App can't be installed because the version in info.xml is not the same as the version reported from the app store`

I've tried cloning the repo in the apps/ folder, and modifying values in the info.xml file.
It didn't fix it.

Any suggestions?

[2017-05-31 15:04] tedstrauss commented on #11
As a work around, I commented out the version check from the installer code. The app appears to have installed normally.

lib/private/Installer.php:407 >>>
[code]

[2017-05-31 15:36] tedstrauss opened #12 "What are people using this app for? Is my use case supported?"
I have a specific use case for this OC app, and wondering whether it's supported. And wondering what else people have used this app for.

Use case: file backup verification

Users will back up data from their local machines to OC, and wish to use checksum to verify data integrity. I suppose the files would need checksums already...

[2017-06-07 21:32] westberliner commented on #11
Hi,

thanks for your feedback. I will try to fix this issue this week.

[2017-06-07 21:39] westberliner commented on #12
Hi,

I intended to use it the other way around but this is also possible since a hash from the same file should always be the same. So just generate a hash on your local machine and check it against the output of this app.

In short your use-case matches with this app :)

[2017-06-07 21:39] #12 closed

[2017-07-10 08:22] westberliner opened #14 "Creating new release"
#13

[2017-07-11 20:39] #14 closed

[2017-07-12 19:47] beli3ver opened #16 "Test checksums"
It would be nice, when there is a possibility to check a checksum, like a input field, where I can input my checksum and then check a file.
In the case somebody sends me a file over the federated cloud system, to check if the file is broken.

[2017-07-17 09:05] DJCrashdummy commented on #10
@westberliner if this gets implemented, the icing on top would be to sort them... (but only if it is not too much work!)

[2017-08-18 16:23] westberliner commented on #11
I submitted finally the app into the new marketplace: https://marketplace.owncloud.com/apps/checksum

[2017-08-18 16:23] #11 closed

[2017-08-18 16:26] westberliner opened #17 "Settingspage"
Add a settings page for activating/deactivating algorithms and sort algorithm list.

[2017-09-06 23:17] sign-out opened #18 "save checksums"
it would be awesome if you ran the check sum if it saved it to the files metadata

[2017-09-06 23:21] sign-out opened #19 "in settings manue maybe a way to do bulk checksumming"
this would be after/if you choose to save the checksum to the file or not being able to like in the settings have it set a back ground task to check sum all your files

(would also be cool for it to if one is already there notify if the new one it does is different indicating file derogation )

(could also also if there are event hooks add a hook to check sum new files being added once they are fu

[2017-09-15 18:11] guleyupo opened #20 "Trouble installing the app from the app-store"
owncloud 9.1.6 log shows the error:  _App can't be installed because the version in info.xml is not the same as the version reported from the app store_

Thanks

(managed to install it by extracting the downloaded files in the apps folder)

[2017-09-24 20:26] C0rn3j opened #21 "Add an option to get a checksum from a shared link"
https://i.imgur.com/utdi4Ui.png

I'd appreciate if I could get a checksum from a shared link as a non-authed user. From both the folder view and direct file view, as on the screenshots.

[2017-09-26 21:31] 1ucay opened #22 "transifex or l10n files"
Hi, can you provide translate files or move to nextcloud github with transifex? Thanks

[2017-10-02 20:23] enoch85 commented on #20
Works on Nextcloud.

[2017-12-06 10:21] kichnap opened #23 "Prepare a hash amount for multiple files and folders."
The user downloads files and folders to the location provided.
Next, the plugin generates a hash of all the files.
We send it to the recipient.
It's like a little guarantee that the files will not be replaced.

[2018-01-25 12:01] e-alfred opened #25 "Support for Nextcloud 13"
Hello,

please release a new version that supports Nextcloud 13.

[2018-01-26 10:01] voxdemonix commented on #25
Just wait the dev accept this pull request :) https://github.com/westberliner/owncloud-checksum/pull/24

[2018-01-26 12:14] #25 closed

[2018-01-28 02:48] mesamoo opened #26 "nextcloud13 install"
nextcloud 13 rc2 on linux/apache/php7.2

when trying to enable checksum using nextcloud, nextcloud reports failure.
Message reported by nextcloud is "Extracted app checksum has more than 1 folder"

I was able to hand install, downloaded from Nextcloud App Store
extracted archive and copied the checksum folder to nextcloud/apps.
changed permissions
enabled in nextcloud apps settings

One thought is

[2018-01-28 03:05] mesamoo commented on #26
I see a new release 0.3.6 listed on the insights page which has not reached the app store yet, perhaps the issue is addressed in that release

[2018-01-29 21:40] EugenVau commented on #5
I have exactly the same error on Nextcloud 12.0.3. What can I do?

[2018-01-29 22:07] westberliner commented on #26
I rereleased the package. The App Store complains about the changed URL. I think it will take some minutes for the update.
It's true. the ._ files are causing this.

As a side note: COPYFILE_DISABLE=1 mitigate tarballing dot-files.

[2018-01-29 23:14] westberliner commented on #26
Works for me now. Hope for you too.

[2018-01-29 23:14] #26 closed

[2018-02-08 01:40] Wikinaut opened #27 "Apps is not compatible to Nextcloud 13.0.0 and cannot be activated"
pls. fix this.

* Nextcloud 13.0.0
* checksum app 0.3.5

[2018-02-13 03:26] schnappijedi commented on #27
Edit nextcloud-server/apps/checksum/appinfo/info.xml
[code]

[2018-02-22 00:38] Wikinaut commented on #27
The issue appears to be solved now.

[2018-02-22 00:38] #27 closed

[2018-04-07 17:51] BloodyIron opened #28 "Checksum compare"
I would really like it if we had a field where we could dump the checksum it's supposed to be, then generate the checksum, and have it compare "match!" "do not match!" kind of thing.

Much easier than manually comparing the entire string.

Just a small convenience, would be appreciated! :D

[2018-04-09 07:54] DJCrashdummy opened #29 "publish current version via nextcloud app-store"
is it possible to publish the current version (something >0.3.5) via the nextcloud app-store?

yes i've read #25 and #24, but https://github.com/westberliner/owncloud-checksum/issues/26#issuecomment-361034535 is still valid: in the [app-store](https://apps.nextcloud.com/apps/checksum) (just scroll down and have a look) there is still 0.3.5 the latest version and so within nextcloud checksum appear

[2018-04-09 09:31] westberliner commented on #29
true, i will look into it.

[2018-04-09 15:01] DJCrashdummy commented on #29
it got even more interesting...:
at another instance for testing running NC 13.0.1.1 now i saw checksum 0.3.5 installed and active! - i have no clue how it got there (except via the nextcloud app-store) since i'm pretty sure i didn't sideload any app at this instance.

because of that i had a look at the nextcloud app-store:
the link behind version 0.3.5 is https://github.com/westberliner/owncloud

[2018-04-09 15:13] westberliner commented on #29
thx for your work. i will update my appinfo in the evening and release the plugin again.

[2018-04-09 20:50] westberliner commented on #29
I have released the version 0.4. I got an error for my xml. It was possible to add a letter in the beginning of the version but not anymore I guess. I think this could be the cause. Anyway I hope now everything should be working again.

I'll keep this issue open for a few days just in case.

[2018-04-11 03:24] zertrin commented on #29
Just received the automatic notification to upgrade checksum to 0.4.0 on NC13 and https://apps.nextcloud.com/apps/checksum lists 0.4.0 for every NC versions. So it seems to have worked.

[2018-05-25 10:20] #29 closed

[2018-08-06 07:44] ChristophWurst opened #30 "Compatibility with Nextcloud 14"
Hi,

as you may have already seen, we have entered the beta phase for the release of Nextcloud 14. We usually try to keep up compatibility with previous app versions, but in some cases apps need some adjustments to properly work on new Nextcloud releases. With Nextcloud 14 there have been quite some changes in that regard:

You can find a list of all critical changes for app developers and admins

[2018-09-14 16:43] Wikinaut commented on #30
Please can you make the App Nextcloud-14 compatible, and update in the App store.

[2018-09-16 13:16] g33k247 commented on #30
Perhaps there is a work-around?

[2018-10-21 19:30] Somebodyisnobody opened #32 "CRC-32 checksum is not correct"
The CRC-32 algorithm is not equal if i check the same file with https://emn178.github.io/online-tools/crc32_checksum.html and 7-Zip. I tested that with 2 files.

The other algorithms are correct

[2018-10-24 00:29] Manorhos commented on #32
PHP provides two different CRC32 algorithms and the `crc32b` variant appears to be more widely used as a file checksum.
So either we need to add CRC32b as an additional checksum choice or we could just switch over to `crc32b` altogether.
Personally, I'd prefer the latter.

[2018-10-24 10:59] Somebodyisnobody commented on #32
Oh I didn't now that, thought CRC32 = CRC32 😃

[2018-12-09 04:10] g33k247 opened #33 "Checksum not compliant with Nextcloud 15"
Upgrade to NC15 automatically disabled checksum app. Unable to find in app catalog.

[2018-12-10 12:22] violoncelloch commented on #33
Nextcloud 15 has been released today. It would be nice if you could update this app to work on Nextcloud 15! Thank you!

[2018-12-18 11:57] nextgen-networks commented on #33
@westberliner Please consider this PR: https://github.com/westberliner/owncloud-checksum/pull/34
If everything went fine you could publish this to NC appstore too.
Thanks mate!

[2018-12-20 19:31] stratege1401 commented on #33
yes, please ... very usefull app

[2018-12-21 01:37] violoncelloCH commented on #33
Whohoo, there is a new release supporting NC 15! Thank you @westberliner

[2018-12-21 13:14] westberliner commented on #33
thx to @nextgen-networks

[2018-12-21 13:14] #33 closed

[2018-12-27 01:40] danger89 commented on #33
Strange it will still disable this app during upgrade to 15 :\

[2019-01-18 20:24] enoch85 opened #35 "Great app!!"
This app is just awesome and saves me alot of time on every release I do for the Nextcloud VM.

Though I can't find it in AppStore for Nextcloud 15.0.2. It might be a temporary glitch but I figured you should know.

Keep up the good work! :)

Thanks!

[2019-01-18 23:05] enoch85 commented on #35
It started to work now.

[2019-01-18 23:05] #35 closed

[2019-01-22 09:51] zabuza88 commented on #18
Hi.
Just a small suggestion, it would be great to havea  button to save the checksum into a file like
namefile.extension checksum
Thank you!

[2019-03-27 15:17] NiklasOlofsson opened #37 "No icon for the Checksum-tab in the sidebar."
No icon for the Checksum tab. Looks a bit odd. :)

![cap2](https://user-images.githubusercontent.com/4583709/55088533-2a8d2180-50ac-11e9-87d3-38982b338ef9.png)

[2019-04-13 11:15] confusedguy9 commented on #37
See #36

[2019-06-03 20:42] westberliner commented on #37
Merged #36. Release is on its way.

[2019-06-03 20:42] #37 closed

[2019-06-03 20:43] #20 closed

[2019-07-10 08:04] layz89 opened #38 "Does not work in app groups folders"
Checksum does not work in the App Groups folder:
https://apps.nextcloud.com/apps/groupfolders

[2020-02-27 10:27] samuraiii opened #41 "Not compatible with NextCloud 18"
Enabling untested app prohibits web browser upload.

[2020-03-13 12:48] samuraiii commented on #41
its working now thanks

[2020-03-13 12:48] #41 closed

[2020-05-17 22:14] tflidd opened #42 "NC19 compatibility"
I just activated the app on a NC 19RC2 setup on a FreeBSD/nginx/php7.3 environment. Didn't see any errors so far.
Would be good if someone with knowledge to the code could take a look before pushing the number of supported version.

[2020-06-15 12:32] SeekDaSky commented on #42
I activated the extension on NC19, hosted on Arch linux with PHP 7.4.5, no issues so far.

[2020-07-19 15:15] westberliner commented on #42
Will deploy an update today.

[2020-07-19 15:15] #42 closed

[2020-07-19 16:18] westberliner opened #44 "Deployment of v0.4.5"
The release Server seems to be down. I get a 500 error. I'll wait and try it later again.

[2020-07-21 09:29] Ajilis commented on #38
does its works for a simple folder ?

[2020-07-24 11:47] reiner-text commented on #42
Please push the update to the [AppStore](https://apps.nextcloud.com/apps/checksum), too. Thanks!

[2020-07-24 11:59] westberliner commented on #44
Server works now. App is released.

[2020-07-24 11:59] #44 closed

[2020-07-24 12:02] westberliner commented on #42
I wanted to see #44. I tried for several days. Now it worked. Is released.

[2020-07-24 14:16] reiner-text commented on #42
Sorry, I missed #44.

[2020-07-25 09:23] westberliner commented on #42
Nevermind :) This notification reminded me to check it again.

[2020-08-12 08:50] JonathanTreffler opened #45 "Will not work in future Nextcloud versions"
To create a Tab in the File Sidebar this App uses [fileList.registerTabView()](https://github.com/westberliner/checksum/blob/9f073f18b63821d29d623bb010b8ff67c297e995/js/checksum.plugin.js#L21) and that function [will be removed in Nextcloud 20](
).

It might me a good idea to migrate to the [new API](https://github.com/nextcloud/server/blob/master/apps/files/src/sidebar.js) before Nextcloud 20 get

[2020-09-18 21:50] russcook commented on #18
+1 for this enhancement

[2020-11-22 12:02] e-alfred commented on #45
Same problem for the Printer app: https://github.com/e-alfred/nextcloud-printer

[2020-11-23 10:55] st3iny opened #46 "Update to recent Nextcloud versions"
I forked and updated this app to work with nextcloud v20 and v21. I refactored the usage of the deprecated nextcloud api and leveraged the new server container interface and the abstract storage backend. This means that my fork is now independent of the used storage backend. However, those changes are not compatible with owncloud.

I would be happy to send a PR if you are willing to drop support f

[2020-11-25 01:49] slawa-dev commented on #46
Nice work. I hope maintainer can act on it as the NC v20 is being rolled out to everyone.

[code]
😅

[2020-11-30 19:43] KG3RK3N commented on #45
I have checked the current version with nextcloud 20 and it works. But you're right that a migration needed for future versions of nextcloud.

@st3iny
I have see your fork and it seems that you are already work on a version that use the new API, right?

[2020-11-30 22:13] st3iny commented on #45
Yes, my fork is updated and refactored. This repository uses deprecated parts of the nextcloud api and does not work reliably on newer nextcloud versions (e.g. it breaks when using object storage as primary storage).

Ref #46

[2020-12-09 15:04] Zocker1999NET commented on #46
@st3iny Could you please, if @westberliner does decide in favor of owncloud, upload your version of the app to the store, so users/admins can easier "migrate" to your fixed version?

[2020-12-09 16:05] westberliner commented on #46
Hi, sry. Somehow I get only notifications if someone mentions me. I guess dropping support for OC is fine. The community of NC is by far more active. If you have a PR just let me know. If not I will look into the API changes as well.

[2020-12-09 16:07] westberliner commented on #45
Further discussions in #46.

[2020-12-09 16:07] #45 closed

[2020-12-09 16:10] st3iny commented on #46
@westberliner Awesome! I will prepare a PR and mention you when it's ready. Thank you for maintaining this app :)

[2020-12-09 16:12] westberliner commented on #46
Nvm, thank you for the PR :) And sorry that you had to wait for so long.

[2020-12-10 16:07] st3iny opened #48 "Update frontend code"
The frontend uses code that is deprecated and will be removed very soon. Additionally, the global jQuery will be removed soon too.

Nextcloud apps are now required to ship their own dependencies. Most apps I worked with solve this by using a bundler like Webpack.

@westberliner Are you fine with using Webpack to bundle the dependencies? I have worked on some official Nextcloud apps (e.g. mail) and

[2020-12-10 20:07] #46 closed

[2020-12-10 20:26] westberliner commented on #48
I am fine with webpack. Currently the standard - although does not say much in the js world :) Changes every other month feels like.

If it is now possible to remove jQuery it should be done. I could this as well in two weeks. I will have some free time by then.
If you are eager to help do not let me hold you off :)

[2020-12-21 00:54] Zocker1999NET opened #49 "Is this app also supported on PHP 7.3/7.2?"
The `app.xml` states, that a PHP version of 7.4 is required to run the app while `README.md` states, that the app was only tested on PHP 7.4. As Nextcloud states in the [official manual for version 20](https://docs.nextcloud.com/server/20/admin_manual/installation/system_requirements.html), it recommends PHP 7.3/7.4, but also supports 7.2.

So, my question is, is this app known to not work on vers

[2020-12-21 06:15] tavinus commented on #49
+1
Before updating to NC20 I had no problems with this.
Now it is blacklisted for that PHP7.4 requirement.
Can we please have this cleared for php 7.3?

[2020-12-21 15:17] jolang commented on #49
@westberliner is there a technical reason you set the required PHP version to 7.4 with the last release?

[2020-12-21 16:25] westberliner commented on #49
I will check it. Should be possible to allow PHP7.2 - as NC 20 recommends as well. Was an overside of mine. Sry for that. I'll keep you posted.

[2020-12-21 18:55] westberliner commented on #49
The latest updated typed class properties. That is why. I removed them for now and released an update on [apps.nextcloud.com](https://apps.nextcloud.com/apps/checksum).

[2020-12-21 18:56] #49 closed

[2020-12-22 16:20] st3iny commented on #48
@westberliner Yeah, the js world can be kind of chaotic sometimes. I have been quite busy in the past 2 weeks but I have some time to spare now. I would be happy to work on the frontend code if you didn't start already.

Sorry for the delayed response :D

[2020-12-22 16:22] st3iny commented on #49
Oops, I forgot to check the PHP version compatibility when sending the PR. Thanks for fixing @westberliner.

[2020-12-22 18:14] westberliner commented on #48
Nvm :) Did not started yet. Got some family business.

[2020-12-28 15:31] westberliner commented on #48
Just want to let you know, that I saw your pr. I will check it as soon as I can.

[2021-02-24 17:45] teneighty-yvr opened #51 "Generate checksums for multiple files or directories to check local copies"
Closely related to #23 except generate the checksums on demand without downloading to check local copies.

If the output could be downloaded in a file or copied and pasted into a file in a format that can then be fed into "sha256sum -c <file>" or "md5sum -c <file>", a set of files can be checked.

Alternatively an implementation of #28, compare feature, capable of comparing multiple checksums at o

[2021-02-26 19:08] westberliner commented on #51
Hi, thanks for your input. I guess I could do this like the multiple file select action and show the list in the popup. Is this what you are looking for?

[2021-02-26 22:44] teneighty-yvr commented on #51
Yes, that would be beautiful! Popup opens, choose algorithm, populate the popup with list of checksums for selected files.

I propose the results be formatted the same as gnu coreutils, "<checksum>  <file>" per line, so it can be passed directly to coreutils md5sum/sha256sum for checking local copies.

Not to get carried away, but a "copy" button to copy the results to the clipboard would also be

[2021-02-27 15:28] westberliner commented on #48
I created a branch on switched to vue/removed jquery. See [migrated branch](https://github.com/westberliner/checksum/tree/enhancement/48%2Fupdate-frontend).
I need to implement to allow only files and then I will release it.

Thx for the kickoff.

[2021-02-28 17:08] st3iny commented on #48
Very nice. I'm glad I could help with the refactors. Thanks for maintaining this app.

[2021-02-28 17:11] st3iny commented on #38
I just tested creating a checksum of a file within a group folder and it worked just fine. This issue was most likely fixed by https://github.com/westberliner/checksum/pull/47.

@westberliner You can close this issue.

[2021-02-28 17:27] westberliner commented on #22
I created a template file and I am waiting for nextcloud-bot for the transifex automation.

[2021-02-28 17:27] #22 closed

[2021-02-28 17:28] westberliner commented on #32
I added crc32b as well.

[2021-02-28 17:28] #32 closed

[2021-02-28 17:35] #38 closed

[2021-02-28 17:35] westberliner commented on #48
And released :) The integration is a bit yank though. NC 20/21 vue integration kinda work in progress. Because version 21 is quite new I implemented both versions. If you'll have a better solution or any comments, let me know.

[2021-02-28 17:35] #48 closed

[2021-02-28 18:42] cangeeq opened #52 "Checksum always shows "File not found." in subdirectories"
With Nextcloud 20.0.8 and PHP 7.2.24-0ubuntu0.18.04.7 and Checksum 1.1.0 for any algorithm I choose for files in subdirectories all I get in the Details / Checksum tab is something like:

Sample error log below shows an attempt on a file "ports.md" in subdir "work", but note there is no file separator in the exception error path that ends "/workports.md" so the `fopen` fails:

{"reqId":"ZnHCWQV1WY

[2021-02-28 18:50] Ajilis commented on #38
Do you think we can create checksum for folders ?

[2021-02-28 19:13] westberliner commented on #52
Thx for the bug report. Will check.

[2021-02-28 19:16] st3iny commented on #38
@Ajilis Currently, creating checksums for entire folders is not implemented. There are open issues related to that feature: #23, #51

[2021-02-28 19:31] westberliner commented on #52
The fileinfo object did change. Fix will be deployed in a moment v1.1.1.

[2021-02-28 19:31] #52 closed

[2021-02-28 19:40] westberliner commented on #52
The fix is deployed. Hope this fixed your problem, tested with your nc version and with version 21. You may reset your browser cache. Reopen this ticket if you still have this issue.

[2021-08-05 19:22] p-bo opened #57 "Transifex project URL?"
Hi,

noticed config for Transifex there, but cannot find on list in Nextcloud project on Transifex. May I ask you for help where to translate please?

Thanks :-)

[2021-08-24 07:10] michekm commented on #18
Hi, is this already funkcion ?

[2021-09-08 14:41] muppie opened #59 "Automatically create checksums. Feature?"
Hi!

I was wondering if there is a way to calculate hashes automatically on my files? Doing it manually on 200k files is not possible. If it is not possible, I would like to suggest it as a feature :)

M

[2021-09-24 09:00] aldevan opened #60 "CRC32 show wrong result"
hi, in same file MD5, SHA1 and others ok, but in CRC32 show wrong result as can you can see in print https://i.ibb.co/8P9hJm8/crc32-wrong.png

[2021-10-12 07:09] tuxmaster5000 opened #61 "[1.1.2] Translations missing"
When using it on an German installation, then the menu is shown only in English.
It looks the translations is also missing in the source code, because the folder is empty.

[2021-11-30 13:25] nursoda opened #62 "Support for NC 23"
Please officially test and release for NC 23 :) Thanks!

[2021-12-01 19:14] leonardohlee commented on #62
please

[2021-12-02 19:30] westberliner commented on #62
Sure. Will be done around the weekend.

[2021-12-04 21:59] westberliner commented on #57
Hi, I issued a PR to start translating via transifex. If the PR is accepted by nextcloud I will update the readme for an howto.

Thx for contributing and sorry for the late response.

[2021-12-04 22:01] westberliner commented on #60
This issue was discussed here: https://github.com/westberliner/checksum/issues/32.
But you mention it as well. I will check if I find a way to avoid this confusion.

Thx for mentioning it.

[2021-12-04 22:02] westberliner commented on #61
See #57. I hope this will be resolved in the future via transifex.

[2021-12-04 22:14] westberliner commented on #62
Hi, release v1.1.3 is out. I have tested it with NC23 and I found no issues.
If any, you are welcome to open a new issue.

Thx
Patrick

[2021-12-04 22:14] #62 closed

[2021-12-05 07:58] tuxmaster5000 commented on #61
Thanks, I will wait for it, and than do my part for the translation, when needed.

[2021-12-05 09:53] westberliner commented on #57
In progress: https://github.com/nextcloud/docker-ci/issues/333

[2021-12-05 09:57] p-bo commented on #57
Great, will translate into Czech immediately :-)

[2021-12-06 06:16] p-bo commented on #57
Done, closing - thanks for fixing this!

[2021-12-06 06:16] #57 closed

[2022-05-03 15:15] ximex opened #64 "Add Nextcloud 24 compatibility"
Pls make it compatible with Nextcloud 24

[2022-05-10 15:21] westberliner commented on #64
Hi, will do.

[2022-05-10 19:00] #61 closed

[2022-05-10 19:17] westberliner commented on #64
I released an update for NC24. Feel free to download it [directly](https://github.com/westberliner/checksum/releases/tag/v1.1.4) or via [app store](https://apps.nextcloud.com/apps/checksum).

[2022-05-10 19:17] #64 closed

[2022-05-10 19:19] westberliner commented on #64
I tested it with NC24. Worked for me. If still an issue occurs I would be nice to get a new Issue here.

Kind Regards
Patrick

[2022-05-15 08:48] westberliner commented on #60
Forgot to close this issue. Already an option. You may choose between crc32 and crc32b.

[2022-05-15 08:48] #60 closed

[2022-09-02 11:51] kimsin98 opened #66 "Checksum in right click context menu & for multiple files"
I don't know if this is possible, but it would be nice if we could get checksums in any way (copy to clipboard, export as text file, etc.) from the right click context menu in Files.

This may even lead to getting checksums from multiple files at once. This would be much more convenient than opening details and getting checksums one at a time.

[2022-09-21 11:36] josemaX opened #67 "Not compatible with OwnCloud 10.11.0"
Hello

Just updated to OC 10.10 -> 10.11.0 and had to disable checksum to complete upgrade because not compatible (perhaps only version check?).

Best,

[2022-10-12 05:07] GuyPaddock opened #68 ""Choose algorithm" drop-down is unusable in NextCloud 23"
On Nextcloud 23.0.10, the drop-down for selecting an algorithm doesn't render correctly in either Chrome/Edge or Firefox:
![image](https://user-images.githubusercontent.com/2631799/195254955-cc494abf-90b0-43b0-82d2-3980ab4f2e11.png)

[2022-10-14 13:46] nursoda opened #69 "Support NC25"
Please test and release for NC25 which is to be released soon.

[2022-10-17 07:05] westberliner commented on #69
Will do that, thx for the heads up.

[2022-10-17 07:06] westberliner commented on #68
Hm, I'll try to reproduce the issue.

[2022-10-17 16:42] nathanielhourt commented on #67
Yep, I just tried installing it and was briefly foiled by the same. I think it's just an outdated version check, though, because I went and edited the app's `appinfo/info.xml` file on disk to allow v10.11, and it seems to be working just fine.

A bit disconcerting that the code signature check didn't throw on that one... but it works.

[2022-10-22 08:24] westberliner commented on #67
Hi,

I tried to install it with the current release and failed.

[code]

But the 0.3.5 Version still works. I'll try to create a release. Have to figure out a suitable way to maintain the OC releases.

[2022-10-22 09:00] westberliner commented on #67
I'll created a 0.3.6 release and pushed it into the marketplace.

[2022-10-22 09:00] #67 closed

[2022-10-22 09:24] westberliner commented on #68
Hi,

I tested it with OC 23.0.10 with the current releases of the checksum app (1.1.4), Firefox (106.0.1), and Chrome (106.0.x). I cannot reproduce your issue. I'll close it for now. Feel free to open this anytime if you have an idea to reproduce this issue.

[2022-10-22 09:24] #68 closed

[2022-10-22 09:35] westberliner commented on #69
Release 1.1.5 with NC25 support is out: https://apps.nextcloud.com/apps/checksum

[2022-10-22 09:35] #69 closed

[2022-11-05 09:13] BjoernLudwigPTB opened #70 "Clarify process to join Transifex via URL in docs"
Thanks for the great work here!

I noticed you added the project to transifex and everything seemes to have worked on nextcloud side as well as of [5 Jan 2021](aaca878c314e592cb886c89893d7d56ed17dacc6850ea08db6f47425b5942a494a9e51ffb33b3e2539e3b5a78a2cd00847910a9ea11ba5a06792722fddc409185023c74d12ba9d434dbfb49213
). Anyway now the [transifex project URL you share in the README](https://www.transif

[2022-11-07 10:24] p-bo commented on #70
@BjoernLudwigPTB resource for this app is normally there
![obrazek](https://user-images.githubusercontent.com/12208593/200287021-e1065921-9808-4f06-9cf3-34f63d72e33c.png)
and URL you mentioned is functional.

[2022-11-08 07:57] BjoernLudwigPTB commented on #70
Ah okay, that just works after visiting https://explore.transifex.com/nextcloud/nextcloud/ and there clicking "Join this project". Otherwise you get as only answer:

[code]
when visiting https://www.transifex.com/nextcloud/search/?q=resource%3Achecksum and searching for checksum anywhere on _transifex.com_ be it in- or outside of the nextcloud organisation yields no results.

Thanks for just confi

[2022-11-08 09:50] p-bo commented on #70
I see, so correct URL, where to translate is https://www.transifex.com/nextcloud/nextcloud/checksum/ then one will get either Transifex login page, or Join Nextcloud project (cannot walk trough, because I`m already joined by my account). In both cases when one is joined into Nextcloud project on Transifex, there is then Translate button and one can start translating/improving. So I you want, pleas

[2022-11-08 13:55] BjoernLudwigPTB commented on #70
I changed the title. Could you please assign me?

[2022-11-08 18:28] p-bo commented on #70
@BjoernLudwigPTB only maintainers of this repository can do this (not my case - mere translator). But you can do PR with fix of readme regardless of assignment of this issue report. Maintainers then will review and (if it fits) merge it.

[2022-11-09 09:14] BjoernLudwigPTB commented on #70
Ah yes, sure… I did not pay any attention with whom I am communicating here. Sorry, to bother you. Of course this is not a blocker for contributing, just would help me to organise things.

@westberliner Could you assign me?

[2022-11-19 18:09] tuxmaster5000 opened #74 "Remove old algorithms and add SHA3"
The new  and less cpu intensive SHA3 algorithms is missing.
And the old algorithms shout be removed or add the option to disable it by the admin.

[2022-11-19 18:13] tuxmaster5000 opened #75 "[1.1.5] Strange settings area"
The admin settings are very strange. An button and an check box without any real description.
![Screenshot 2022-11-19 at 19-10-13](https://user-images.githubusercontent.com/837503/202865520-f983446d-dffa-4b82-82e8-5b0749536b7d.png)

[2022-11-21 15:59] BjoernLudwigPTB commented on #70
@westberliner Your suggestion sounds good to me. At least it is the until now missing hint, that there is a preceeding step, to being able to collaborate.

[2022-11-22 21:50] datenzar commented on #75
@westberliner My guess: the app needs to adjust for a NC25 breaking change
"If your app is made with vue, migrate away from icon-class to vue material design icons" (https://github.com/nextcloud/server/issues/32060)

[2022-11-23 07:07] tuxmaster5000 commented on #75
It will happens on NC24. I don't use NC25 until now.

[2022-11-26 09:19] westberliner commented on #70
Readme updated. Thx for mentioning this.

[2022-11-26 09:19] #70 closed

[2022-11-26 09:22] westberliner commented on #74
Hi, extend the list with sha3 is easy. Will do.
Settings menu is on my todo: https://github.com/westberliner/checksum/issues/17
I was to lazy so far to implement. ;)

[2022-11-26 09:25] westberliner commented on #75
I screwed this one up. Still in development but got into production. Will release an update and remove it.

[2022-11-26 11:18] westberliner commented on #75
Released v1.2.0. Thx for mentioning.

[2022-11-26 11:18] #75 closed

[2022-11-26 11:19] westberliner commented on #74
Added in v1.2.0. The settings part is in #17.

[2022-11-26 11:19] #74 closed